/*************************************
******** Colors variable  ************
**************************************/

// main title colors
$mainTitleColor: #273c75;

/****************************
*** light theme colors ******
*****************************/
// forground colors
$bgLayoutColor: #ff6542;
$bgBtnColor: #ff6542;
// background colors
$bgLayoutColor2: #EFF1F3;


/****************************
*** dark theme colors *******
*****************************/
// forground colors

// background colors
$bgLayoutColorDark: #2e294e;




