/*************************************
******** Colors variable  ************
**************************************/
$bgColor: #dfe6e9;
$bgHomeColor: #0984e3;
$bgSectionsColor: #0984e3;
$bgSectionColorHover: #48dbfb;
$bgLayoutColor: #ff6542;
$bgBtnColor: #ff6542;
$mainTitleColor: #273c75;
$bgIconColor: #ffe3e0;
$bgLayoutColor2: #EFF1F3;